.answerButton {
  /* display: block; */
  width: 50%; 
  padding: 20px ;
  margin-bottom: 17px;
  background-color: #FFFF;
  border: 1px solid #ccc;
  color: rgb(13, 13, 13);
  border-radius: 35px;
  box-shadow: 8px 12px 3px 5px #b2b2b2;
  font-size: 45px;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  /* Add this line to align text to the left */
  position: relative;

}

.answerButton:active {
  background-color: #757575;
  color: rgb(255, 255, 255);
  transform: translateY(10px);
  outline: none;
}



.answerButton::selection {
  background-color: #ffffff;
}

@media screen and (max-width: 1600px) {
  .answerButton {
    font-size: 2rem;
    justify-content:center ;
  }
}

@media screen and (max-width: 1400px) {
  .answerButton {
    font-size: 2rem;
    justify-content:center ;
  }
}

@media screen and (max-width: 1200px) {
  .answerButton {
    font-size: 2rem;
    justify-content:center ;
  }
}

@media screen and (max-width: 1199px) {
  .answerButton {
    font-size: 2rem;
    justify-content:center ;
  }
}

@media screen and (max-width: 992px) {
  .answerButton {
    font-size: 2.2rem;
    justify-content:center ;
    width: 50vw;
  }
}

@media screen and (max-width: 767px) {
  .answerButton {
    font-size: 2.2rem;
    justify-content:center ;
    width: 65vw;
  }
}

@media screen and (max-width: 576px) {
  .answerButton {
    font-size: 2.2rem;
    justify-content:center ;
    width: 65vw;
  }
}

@media screen and (max-width: 476px) {
  .answerButton {
    font-size: 2rem;
    justify-content:center ;
    width: 75vw;
  }
}

@media screen and (max-width: 452px) {
  .answerButton {
    font-size: 2rem;
    justify-content:center ;
    width: 75vw;
  }
}

@media screen and (max-width: 400px) {
  .answerButton {
    font-size: 2rem;
    justify-content:center ;
    width: 75vw;
  }
}