.Bmi1 {
    
  padding: 30px;
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.inputv1{   
    
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: calc(100% );
    max-width: 210px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 2em;
    font-size: 1rem;
    background-color: #fff;
    color: #111;
    box-shadow: 10px 10px 8px 6px #b2b2b2;
  
}

.gender select {
     
  width: calc(100% );
  max-width: 210px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 1em;
  font-size: 1rem;
  background-color: #fff;
  color: #111;
  box-shadow: 10px 10px 8px 6px #b2b2b2;
  padding: 8px; 
  font-size: 25px; 
  

}

.nextbutton {
    
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 1.5;
  display: block;
  width: 250px;
  max-width: 210px;
  padding: 1px;
  position: relative; 
  top: 25px; 
  margin-bottom: 55px;
  background-color: #FFFF;
  border: 1px solid #ccc;
  color: rgb(13, 13, 13);
  border-radius: 5px;
  box-shadow: 10px 10px 8px 6px #b2b2b2;
  font-size: larger;
  cursor: pointer;
  text-align :center;
}

.nextbutton:hover{
  background-color: #757575;
  color: #FFFF;
  box-shadow: 0 4px 0 0 #b2b2b2;
}

.nextbutton:active{
  box-shadow: none;
  transform: translateY(5px);
}


    
@media screen and (max-width: 1200px) {
  .Bmi1 {
    font-size: 1.6rem;
  }
  
  .nextbutton,
  .backbutton,
  .bmibutton {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    
  }
  .chevronicon {
    transform: translateX(-1000%);
    font-size: 16px;
    width: 10px;
    height: 10px;
  }
}


@media screen and (max-width: 992px) {
  .Bmi1 {
    font-size: 1.6rem;
  }
  .childbmi,
  .childadvice
   {
    width: 50vw;
  }
  
  .nextbutton,
  .backbutton{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  .chevronicon {
    transform: translateX(-2000%);
    font-size: 16px;
    width: 10px;
    height: 10px;
  }
}


@media screen and (max-width: 768px) {
  .Bmi1 {
    font-size: 1.5rem;
  }
  .childbmi,
  .childadvice
   {
    width: 60vw;
  }
  
  .nextbutton,
  .backbutton {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  .chevronicon {
    transform: translateX(-2500%);
    font-size: 16px;
    width: 10px;
    height: 10px;
  }
}


@media screen and (max-width: 576px) {
  .Bmi1 {
    font-size: 1.5rem;
  }
  .childbmi,
  .childadvice
  {
    width: 70vw;
  }
 
  .nextbutton,
  .backbutton {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  .chevronicon {
    transform: translateX(-2700%);
    font-size: 16px;
    width: 10px;
    height: 10px;
  }
  @media screen and (max-width: 450px) {
    .Bmi1 {
      font-size: 1.5rem;
    }
    .childbmi,
    .childadvice
     {
      width: 60vw;
    }
  
    .nextbutton {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    }
    .chevronicon {
      transform: translateX(-2800%);
      font-size: 16px;
      width: 10px;
      height: 10px;
    }
} 
}