/* Nano.css */

/* Default styles for larger screens */
.image-nano {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.card-box-nano {
  width: 300px; /* Adjust as needed for your design */
  height: 300px;
}

.text {
  max-width: 600px; /* Adjust as needed for your design */
  margin: 0 auto;
}


/* Additional styles for smaller screens using media queries */
@media (max-width: 768px) {
  .image-nano {
    flex-direction: column;
    align-items: center;
  }

  .card-box-nano {
    width: 500px;
    height: 200px;
  }

  .text {
    padding: 0 20px;
  }
}

/* Add more media queries as needed for other screen sizes */
