.font-family {
    font-family: 'Noto Sans Thai', sans-serif;
    /* ส่วนอื่น ๆ ของ CSS ของคุณ */
}

.Card {
    margin-bottom: 50px;
    width: 400px;
    height: 350px;
    border-radius: 35px;
    box-shadow: 8px 12px 3px 5px #b2b2b2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 430px;
}

.Card2 {
    margin-bottom: 50px;
    width: 600px;
    height: 170px;
    border-radius: 35px;
    box-shadow: 8px 12px 3px 5px #b2b2b2;
    position: relative;
    left: 340px;
}

.text48 {
    font-family: 'Noto Sans Thai', sans-serif;
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
}

.text-food{
    font-family: 'Noto Sans Thai', sans-serif;
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    left: -50px;
}

.chart-container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chart2 {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.exercise {
    width: 110px;
    height: 110px;
    border-radius: 80px;
    box-shadow: 4px 4px 3px 2px #b2b2b2;
    position: relative;
    left: 40px;
    top: -60px;
    border: 2px solid #A9A9A9;
}

.target {
    width: 110px;
    height: 110px;
    border-radius: 80px;
    box-shadow: 4px 4px 3px 2px #b2b2b2;
    position: relative;
    left: 230px;
    top: -170px;
    border: 2px solid #A9A9A9;
}

.video {
    width: 110px;
    height: 110px;
    border-radius: 80px;
    box-shadow: 4px 4px 3px 2px #b2b2b2;
    position: relative;
    left: 410px;
    top: -280px;
    border: 2px solid #A9A9A9;
}

.img {
    width: 80px;
    height: 80px;
    position: relative;
    left: -10px;
    top: -10px;
}

.text-exercise {
    position: relative;
    left: -180px;
    top: -270px;
}

.text-target {
    position: relative;
    left: 8px;
    top: -306px;
}

.text-video {
    position: relative;
    left: 190px;
    top: -345px;
}

.Card3 {
    margin-bottom: 50px;
    width: 600px;
    height: 100px;
    border-radius: 35px;
    background-color: #cdcdcd;
    position: relative;
    left: 340px;
}

.Card3 .date:last-child {
    margin-right: 0;
  }

.chart3 {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 80px;
    margin-bottom: 10px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 80px;
    font-size: 40px;
    position: relative;
    left:50px;
    top: -65px;
    border: 2px solid #A9A9A9;
    border-radius: 80px;
    margin-right: 10px;
}

.iconleft {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 5px;
    top: 25px;
  }

  .iconright {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 540px;
    top: 25px;
  }
  
.test {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin: auto;
    width: 30px;
    height: 30px;
}

.Card4 {
    margin-bottom: 100px;
    width: 400px;
    height: 300px;
    border-radius: 35px;
    background-color: #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 430px;
}

.Card4 {
    margin-bottom: 50px;
    width: 600px;
    height: 600px;
    border-radius: 35px;
    position: relative;
    left: 340px;
}

.date-food {
    width: 500px;
    height: 60px;
    position: relative;
    top: -220px;
}







@media screen and (max-width: 1600px) {
    .text48 {
        font-size: 4rem !important;
        /* เพิ่ม !important เพื่อแนะนำให้ CSS นี้มีความสำคัญ */
        font-weight: bold;
    }
}