#root{
    font-family: 'Noto Sans Thai', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: black;

}

body {
    /* margin: 0; */
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Sarabun', sans-serif;
    background-color: #dcdcdc;
    color: black;
    background-image: url(/public/CI-nanoverse.jpg);
}