
body {
    font-family: 'Kanit', sans-serif;
    background-color: #dcdcdc;
    color: black;
    height: 100%;
    width: 100%;
    background-image: url(/CI-nanoverse.jpg);
    overflow-y: hidden;
}

#root {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow:auto;
}

#root::-webkit-scrollbar {
    display: none;  /* Safari and Chrome browsers */
}