#root{
  font-family: 'Noto Sans Thai', sans-serif;
}

body{
  width: 100%;
  min-height: 100%;
  background-image:url('/CI-nanoverse.jpg') ;
  margin: 0;
  place-items: center;
  font-family: 'Noto Sans Thai', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dcdcdc;
  background-repeat: no-repeat;
  background-position: center;
  place-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}